nav{
	margin-top:50px;
	background:transparent;
	border:transparent;
}

html *{
  font-family:courier;
}

.contact a{
  color:#a6a6a6;
  text-decoration:underline;

}

.navbar-brand {
	padding-top: 50px;
  	padding: 0px;
}

.navbar-brand>img {
  height: 300%;
  padding: 15px;
  width: auto;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}

.mainpage-img{
  margin-top:50px;
  width: 100%;
}

.mainpage-container{
	margin-top:65px;
}

.mainpage-welcome{
  margin-left:auto;
  margin-right:auto;
  margin-top:55px;
}

.veghowto{
  margin-top:65px;
}

.veghowto-list{
  margin-left:18px;
}

.veghowto-bottom{
  margin-bottom:200px;
}

.mandate{
  margin-top:135px;
  margin-left:auto;
  margin-right:auto;
  width:75%;
}

.contact{
  font-size:15pt;
  margin-top:130px;
}

